*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
aside{
    background-color: #dcd9d9;
    height: 100%;
    width: 225px;
    font-family: georgia;
    position: fixed;
}
div.top{
    justify-content: space-around;
    display: flex;
    height: 30px;
    margin-top: 10px;
}
div.top h3{
    color: black;
    text-align: center;
    padding: 10px;
    font-weight: bolder;
    font-weight: 900;
}
div.top h3 span{
    color: #0386d2;
}
div.close{
    display: none;
}
.sidebar{
    display: flex;
    flex-direction: column;
    background: #dcd9d9;
    z-index: 1;
    left: 0;
    height: 100%;
    top: 3rem;
    position: relative;
}
aside h3{
    font-weight: 500;
}
.sidebar a{
    color: #036ba7;
    display: flex;
    margin-left: 30px;
    gap: 10px;
    position: fixed;
    align-items: center;
    position: relative;
    height: 50px;
}
.sidebar a span{
    font-size: 1.5rem;
    transition: all 300ms ease;
}
.sidebar a.home{
    background-color: #f2f2f2;
    margin-left: 0;
    padding-left: 15px;
}
.sidebar a:hover{
    color: #61bef4;
}
.sidebar a:hover span{
    margin-left: 1rem;
}
body{
    background-color:aliceblue;
}
div.bannerimage img{
    max-width: 100%;
    margin-left: 225px;
    position: relative;
}
div.greetings{
    display: flex;
    margin-left: 100px;
    margin-right: 17px;
    top: 20px;
    position: relative;
    top: -425px;
    text-decoration: bold;
}
div.greetings h1{
    margin-top: 150px;
    font-size: 50px;
    margin-left: 225px;
    color: #b5dff2;
    position: sticky;
}
div.greetings h2{
    margin-top: 205px;
    margin-left: -205px;
    font-size: 30px;
    color: #000000da;
    position: sticky;
}
em{
    color: white;
}
div.greetings img{
    max-width: 100%;
    border-radius: 50%;
    margin-left: 700px;
    border: 5px solid white;
    position: sticky;
}
div.date{
    margin-top: -225px;
    margin-left: 300px;
    font-size: larger;
    font-weight: 300;
    color: #6400fb;
    display: flex;
    position: sticky;
    background-color: inherit;
}
div.date span{
    text-decoration: bold;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
section.content{
    display: flex;
    position: relative;
}
div.list{
    position: relative;
    background: white;
    width: 350px;
    height: 400px;
    box-shadow: 20px;
}
div.list h2{
    background: #00a2ff;
    color: white;
    padding: 10px 20px;
    font-weight: 600;
}
div.list ul{
    position: relative;
    padding: 20px;
}
div.list ul li{
    position: relative;
    list-style: none;
    padding: 15px 0;
    border-bottom: 1px solid black;
}
div.list ul li:last-child{
    border-bottom: one;
} 
div.list ul label{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
div.list ul li label input{
    visibility: hidden;
    appearance: none;
}
div.list ul li label p{
    position: relative;
}
div.list ul li label span{
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list ul li label span::before{
    content: '';
    top: 5px;
    width: 10px;
    height: 5px;
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    transform: rotate(-40deg);
}
div.list ul li label input:checked ~ p{
    text-decoration: line-through;
    color: #ccc;
}
div.list ul li label input:checked ~ span{
    background: #0386d2;
    border: 1px solid #0386d2;
}
div.list ul li label input:checked ~ span::before{
    border-left: 2px solid white;
    border-bottom: 2px solid white;
}
div.list{
    margin-top: 25px;
    margin-left: 250px;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}
.emails{
    position: absolute;
    right: 15px;
    display: grid;
    margin-right: 50px;
    color: #ffffff;
    font-size: 20px;
    font-family: monospace;
    width: 300px;
    height: 200px;
}
.icon{
    cursor:pointer;
    margin-right: 50px;
    line-height: 60px;
    height: 50px;
    width: 75px;
    position: absolute;
    right: 10px;
    margin-right: 10px;
}
.icon span{
    background-color: #f76b6b;
    padding: 7px;
    border-radius: 50%;
    color: #ffffff;
    vertical-align: top;
    margin-left: -25px;
}
.icon img{
    display: inline-block;
    width: 45px;
    margin-top: 20px;
    background-color: #999;
    border-radius: 50%;
}
.icon:hover{
    opacity: 0.5;
}

.box{
    width: 300px;
    position: absolute;
    top: 63px;
    right: 35px;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}
.box h2{
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: #999;
}
.box h2 span{
    color: #ff0000;
}
.contentbox{
    display: flex;
    border-bottom: 1px solid #ffffff;
    padding: 15px 5px;
    margin-bottom: 15px;
    cursor: pointer;
}
.contentbox:hover {
    background-color: #eee;
}
.contentbox img{
    display: block;
    width: 50px;
    margin-right: 10px;
    border-radius: 50%;
}
.contentbox .text h4{
    color: #777777;
    font-size: 16px;
    margin-top: 10px;
}
.contentbox .text p{
    color: #aaaaaa;
    font-size: 12px;
}


@media screen and (max-width: 1400px){
    div.greetings h1{
        display: flex;
        justify-content: space-between;
        font-size: 50px;
    }
    div.greetings h2{
        display: flex;
        font-size: 30px;
    }
    div.greetings img{
        margin-right: 120px;
    }
    div.top{
        display:none;
    }
    div.sidebar h4{
        display: none;
    }
    aside{
        z-index: 2;
        width: 95px;
        margin-left:150px;
        display: block;
    }
    div.sidebar{
        margin-left: 20px;
        width: 75px;
        z-index: 2;
    }
}